[build-system]
requires = ["setuptools", "wheel"]

[project]
name = "awpy"
authors = [
    { name = "Peter Xenopoulos", email = "xenopoulos@nyu.edu" },
    { name = "Jan-Eric Nitschke", email = "janericnitschke@gmail.com" },
]
description = "Counter-Strike: Global Offensive data parsing, analysis and visualization functions"
readme = "README.md"
requires-python = ">=3.11"
keywords = ["esports", "sports-analytics", "csgo", "counter-strike"]
license = { text = "MIT License" }
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "pandas",
    "numpy",
    "scipy",
    "matplotlib",
    "networkx",
    "textdistance",
    "imageio",
    "tqdm",
    "Shapely",
    "sympy",
]
dynamic = ["version"]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["awpy"]

[tool.setuptools.package-data]
"*" = [
    "*.go",
    "data/map/*.png",
    "data/map/*.json",
    "data/nav/*.txt",
    "data/nav/*.csv",
    "data/nav/*.json",
    "*.mod",
    "*.sum",
]

[tool.ruff]
# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
select = [
    "E",
    "F",
    "B",
    "W",
    "I",
    "N",
    "D",
    "UP",
    "YTT",
    "ANN",
    "S",
    "BLE",
    "FBT",
    "A",
    "C4",
    "DTZ",
    "T10",
    "EXE",
    "ISC",
    "ICN",
    "G",
    "INP",
    "PIE",
    "PYI",
    "PT",
    "Q",
    "RSE",
    "RET",
    "SLF",
    "SIM",
    "TID",
    "TCH",
    "INT",
    "ARG",
    "ERA",
    "PD",
    "PGH",
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "TRY",
    "NPY",
    "RUF",
]
ignore = ["D208", "ANN101", "T20", "PTH", "TRY003"] # , "PLR0912", "PLR0915", "PLR0913"

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    "docs",
]

# Same as Black.
line-length = 88

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Assume Python 3.10.
target-version = "py310"

[tool.ruff.per-file-ignores]
"__init__.py"              = ["E402", "F401"]
"awpy/types.py"            = ["N815"]
"setup.py"                 = ["D100"]
"tests/test_*.py"          = ["ANN201", "S101", "SLF001", "PLR2004"]
"awpy/analytics/states.py" = ["ARG001"]
"awpy/analytics/wpa.py"    = ["ARG001"]
"awpy/parser/cleaning.py"  = ["PLC1901"]

[tool.ruff.pydocstyle]
convention = "google" # Accepts: "google", "numpy", or "pep257".

[tool.pyright]
include                            = ["awpy"]
exclude                            = ["tests"]
strictListInference                = true
strictDictionaryInference          = true
strictSetInference                 = true
reportPropertyTypeMismatch         = "error"
reportFunctionMemberAccess         = "warning"
reportMissingTypeStubs             = "warning"
reportUntypedFunctionDecorator     = "error"
reportUntypedClassDecorator        = "error"
reportUntypedBaseClass             = "error"
reportUntypedNamedTuple            = "error"
reportPrivateUsage                 = "error"
reportConstantRedefinition         = "error"
reportOverlappingOverload          = "error"
reportMissingParameterType         = "warning"
reportUnnecessaryIsInstance        = "error"
reportUnnecessaryCast              = "error"
reportUnnecessaryComparison        = "error"
reportUnnecessaryContains          = "error"
reportAssertAlwaysTrue             = "error"
reportUnnecessaryTypeIgnoreComment = "error"
reportImplicitOverride             = "none"
reportShadowedImports              = "error"


[tool.coverage.run]
branch = true
source = ["awpy"]

[tool.pytest.ini_options]
testpaths = ["tests"]
