pandas>=0.25.3
numpy>=1.18.1
scipy>=1.4.1
matplotlib>=3.1.2
networkx>=2.6.3
textdistance>=4.2.0
requests>=2.25.1
imageio>=2.9.0
tqdm>=4.55.2
sphinx-rtd-theme>=1.0.0
scipy>=1.7.3
Shapely>=1.8.2
sympy>=1.10.1
