# This workflow will run the tests for the awpy Python library

name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
      - name: Set up Python
        uses: actions/setup-python@v2
      - name: Checkout csgo library
        uses: actions/checkout@v2
      - name: Installation
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install pytest-cov
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test with pytest
        run: |
          coverage run -m pytest --durations=10
          coverage report -m
