name: Build and Publish to Test PyPI

on: push

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    environment:
      name: test-release-pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"


      - name: Build release distributions
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Publish package distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Install package from TestPyPI
        run: |
          python -m pip install --index-url --no-deps https://test.pypi.org/simple/ awpy